@page "/"
@inject DialogService _dialogService


<div>
    <div class="row">
        <RadzenMenu Click="OnClick">
            <RadzenMenuItem Value="MenuUpload" Text="Upload File" Icon="file_upload"></RadzenMenuItem>
            <RadzenMenuItem Value="MenuDownload" Text="Download File" Icon="file_download"></RadzenMenuItem>
            <RadzenMenuItem Value="MenuAbout" Text="About" Icon="info"></RadzenMenuItem>
        </RadzenMenu>
    </div>

    <div class="row">
        <ContainerTree @ref="FileTree"></ContainerTree>
    </div>

</div>


@code {

    public readonly string MenuUpload = "upload";
    public readonly string MenuDownload = "download";
    public readonly string MenuAbout = "about";

    protected ContainerTree FileTree;

    private async Task OnClick(MenuItemEventArgs e)
    {
        string value = e.Value.ToString();

        if (value == MenuAbout)
        {
            var result = await _dialogService.OpenAsync<AboutModal>("About");
        }
        else if (value == MenuDownload)
        {
            Console.WriteLine("File Download");
        }
        else if (value == MenuUpload)
        {
            var result = await _dialogService.OpenAsync<UploadModal>("Upload File");
            FileTree.StateHasChanged();
        }
    }
}
