@page "/"

<div>
    
        <nav class="navbar navbar-dark bg-dark nav-fill w-100">
            <form class="form-inline">
                <button type="button" class="btn btn-primary mr-2" @onclick="OnUploadClick"><i class="bi bi-upload"></i> Upload</button>
                <button type="button" class="btn btn-primary mr-2" @onclick="OnDownloadClick"><i class="bi bi-download"></i> Download</button>
                <button type="button" class="btn btn-primary mr-2" @onclick="OnAboutClick"><i class="bi bi-info-circle"></i> About</button>
            </form>
        </nav>

    <div class="row py-3">
        <div class="col-md-auto">
            <ContainerTree @ref="FileTree"></ContainerTree>
        </div>
        
        <div class="col">
            <FileRecordView></FileRecordView>
            <p>Select a file to edit it</p>
        </div>
    </div>


    <LoadModal></LoadModal>
</div>


@code {
    protected ContainerTree FileTree;

    private async Task OnUploadClick()
    {
        Console.WriteLine("File Upload");
    }

    private async Task OnDownloadClick()
    {
        Console.WriteLine("File Download");
    }

    private async Task OnAboutClick()
    {
        Console.WriteLine("About");
    }

}
