<div>
    <div class="row">
        <h3>Mass Effect Editor</h3>
        <p>
            Currently supports modifying Coalesced.bin for Mass Effect 3 - more to come!
        </p>
    </div>
    <div class="row">
        <div class="col-md-12 text-end">
            <button type="button" class="btn btn-dark">Ok</button>
            
        </div>
    </div>
</div>
