@using Aaron.MassEffectEditor.Coalesced;
@using Aaron.MassEffectEditor.Coalesced.Records;
@inject MassEffectData _massEffectDataService

<div class="list-group">
    @if (_massEffectDataService.CurrentContainer != null)
    {
        @foreach (FileRecord fileRecord in _massEffectDataService.CurrentContainer.Files)
        {
            <button type="button" class="list-group-item d-flex justify-content-between align-items-center list-group-item-action" @onclick="() => OnItemClick(fileRecord)">
                <span><i class="bi bi-card-list"></i> @fileRecord.FriendlyName</span>
                <span class="badge badge-primary badge-pill">@fileRecord.Count</span>
            </button>
        }
    }
</div>


@code {

    private void OnItemClick(FileRecord fileRecord)
    {
        Console.WriteLine(fileRecord.Name);
        _massEffectDataService.CurrentFileRecord = fileRecord;
    }

    protected override void OnInitialized()
    {
        _massEffectDataService.OnCurrentContainerChanged += ForceUpdate;
    }



    private void ForceUpdate(Container container)
    {
        base.StateHasChanged();
    }

}
