@using Aaron.MassEffectEditor.Coalesced;
@inject MassEffectData _massEffectData
@inject HttpClient _http;


<div class="modal" tabindex="-1" role="dialog" style="@_displayStyle margin-top: 500px;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Load File</h5>

            </div>
            <div class="modal-body">
                <p>Typical file location:</p>
                @* ReSharper disable once MarkupTextTypo *@
                <pre>C:\Program Files (x86)\Steam\steamapps\common\Mass Effect Legendary Edition\Game\ME3\BioGame\CookedPCConsole</pre>

                <InputFile OnChange="@InputFileChange"></InputFile>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" @onclick="LoadTestData">Load Test Data</button>
                <button type="button" class="btn btn-primary" @onclick="Confirm">Ok</button>
                <button type="button" class="btn btn-secondary" @onclick="Cancel">Cancel</button>
            </div>
        </div>
    </div>
</div>


@code {

    private string _displayStyle = "display: block;";

    IBrowserFile _selectedFile;


    private async Task LoadTestData()
    {
        string testEndpoint = "test-data/ME3.Coalesced.bin";

        byte[] data = await _http.GetByteArrayAsync(testEndpoint);

        _massEffectData.UnloadFile();
        Console.WriteLine("Loading file...");
        Container container = _massEffectData.LoadFile(data);
        Console.WriteLine("Loaded");
        _displayStyle = "display: none;";
    }

    private void InputFileChange(InputFileChangeEventArgs e)
    {
        _selectedFile = e.File;
        Console.WriteLine(_selectedFile.Name);
    }


    private async Task Confirm()
    {
        if (_selectedFile != null)
        {
            _massEffectData.UnloadFile();
            Console.WriteLine("Loading file...");
            Container container = await _massEffectData.LoadFile(_selectedFile);
            Console.WriteLine("Loaded");
            _displayStyle = "display: none;";
        }
    }


    private void Cancel()
    {
        Console.WriteLine("Cancel");
    }

}