@inherits LayoutComponentBase

<RadzenDialog />

<div class="container">

    <header class="row">
        <h1>Mass Effect Editor</h1>
    </header>

    <main class="row">
        @Body
    </main>

    <footer class="row">
        <p>&copy; Aaron Willows 2021</p>
    </footer>
</div>
