@using Aaron.MassEffectEditor.Coalesced;
@inject Radzen.DialogService _dialogService
@inject MassEffectData _massEffectData

<div>
    <div class="row">
        <h3>Upload File</h3>

        @* ReSharper disable once MarkupTextTypo *@
        <pre>C:\Program Files (x86)\Steam\steamapps\common\Mass Effect Legendary Edition\Game\ME3\BioGame\CookedPCConsole</pre>

        <InputFile id="fileUploadInput" OnChange="@InputFileChange"></InputFile>
    </div>
    <div class="row">
        <div class="col-md-12 text-end">
            <RadzenButton Text="Ok" Click="@Confirm" Style="margin-bottom: 10px; width: 150px" />
            <RadzenButton Text="Cacnel" Click="@Cancel" Style="margin-bottom: 10px; width: 150px" />
        </div>
    </div>
</div>

@code {

    IBrowserFile _selectedFile;

    private void InputFileChange(InputFileChangeEventArgs e)
    {
        _selectedFile = e.File;
        Console.WriteLine(_selectedFile.Name);
    }


    private async Task<bool> Confirm()
    {
        if(_selectedFile != null)
        {
            _massEffectData.UnloadFile();
            Console.WriteLine("Loading file...");
            Container container = await _massEffectData.LoadFile(_selectedFile);
            Console.WriteLine("Loaded");
            _dialogService.Close(true);

            return true;
        }

        return false;
    }


    private async Task<bool> Cancel()
    {
        _dialogService.Close(false);
        return false;
    }

}
