@font-face {
    font-family: "Cascadia Code";
    font-style: normal;
    font-weight: 400;
    src: url('CascadiaCode.woff2');
}

@font-face {
    font-family: "Cascadia Code";
    font-style: italic;
    font-weight: 400;
    src: url('CascadiaCodeItalic.woff2.woff2');
}
